<div>
    <button (click)="onHandleReset()">Reset Data</button> 
</div>
<mat-radio-group  [(ngModel)]="metaDataType">
    <mat-radio-button value="static">Static Meta Data</mat-radio-button>
    <mat-radio-button value="dynamic">Dynamic Meta Data (hint : change the gender radio)</mat-radio-button>
</mat-radio-group>

<div>
    <h1 style="text-align: center">Property Grid Example</h1>
    <div style="display: flex; flex-direction: row">

        <ngx-property-grid [width]="'400px'" [options]="student" [showHelp]="true" [groupCollapse]="true" [cardStyle]="student.editor.cardStyle">
            <ng-template ngxTemplate="text" let-p>
                <input type="text" [value]="p.value" (change)="p.value = $event.target.value" [disabled]="p.readonly">
            </ng-template>
            <ng-template ngxTemplate="fontSize" let-pp>
                <input matInput type="number" placeholder="Value" [(ngModel)]="pp.value" [disabled]="pp.readonly">
                <!--<span>字体大小</span>-->
            </ng-template>

            <ng-template ngxTemplate="date" let-p>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="p.value" (dateChange)="p.value=$event.target.value"  [disabled]="p.readonly">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </ng-template>

            <ng-template ngxTemplate="sex" let-p>
                <mat-radio-group  [(ngModel)]="p.value" [disabled]="p.readonly">
                    <mat-radio-button value="male">male</mat-radio-button>
                    <mat-radio-button value="female">female</mat-radio-button>
                </mat-radio-group>
            </ng-template>
        </ngx-property-grid>

        <div style="margin-left: 50px; flex: 1">
            <div> <h3>The Object：</h3> </div>
          <ngx-json-view [data]="data" [levelOpen]="1"></ngx-json-view>
        </div>
    </div>
</div>
