<div class="property-grid" [ngStyle]="{width: width}">
    <div  *ngFor="let group of groups">
        <div class="property-grid-group">
            <div class="property-grid-group-label">{{group.name}}</div>
            <div class="property-grid-items">
                <div class="property-grid-item" *ngFor="let item of group.items">
                    <div class="property-grid-label">
                        <span>{{item.meta.name}}</span> <span *ngIf="item.meta.description" [title]="item.meta.description" style="margin-left: 7px">[?]</span>
                    </div>

                    <div class="property-grid-control">

                        <span>{{options[item.key]}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
