<div class="property-grid">
    <table class="property-grid-table" [ngStyle]="{width: width}">
        <tbody>
        <tr [ngSwitch]="row.type" *ngFor="let row of rows" [ngClass]="row.type == 'group'? 'property-grid-group-row':'property-grid-row'">
            <!--<td [attr.colspan]="row.colspan"></td>-->
            <td *ngSwitchCase="'group'" colspan="2" class="property-grid-group">{{row.name}}</td>
            <td *ngSwitchCase="'item'" colspan="1" class="property-grid-label">{{row.name}}<span *ngIf="row.description" [title]="row.description">[?]</span></td>
            <td *ngSwitchCase="'item'" colspan="1" class="property-grid-control">
                <dynamic-component [componentType]="row.meta.componentType"></dynamic-component>
            </td>
        </tr>
        </tbody>
    </table>
</div>
