
.property-grid {

    .property-grid-table {
        border: solid 1px #95B8E7;
        border-spacing: 0;
    }

    .property-grid-group {
        background-color: #368bffeb;
        font-weight: bold;
        color: white;
    }

    .property-grid-label, .property-grid-control {
        //border: 0.5px solid gray;
        //padding-left: 3px;
        //padding-right: 3px;
        border: dotted 1px #ccc;
        padding: 2px 5px;
    }
}
